<header>
<h3>{{title}}</h3>  <!-- Each page can access its respective title obj-->

<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>
</header>
