<!DOCTYPE html>

<head>
        <link rel="stylesheet" href="/css/styles.css"> 
    
</head>
<body>
    {{>header}}
    <div class="container">
        {{title}}
        <img src="./img/me.jpg">
        <p>By:- {{name}}</p>
    </div>
    {{>footer}}
    <script src="../../public/js/app.js"></script>
</body>

</html>