<!DOCTYPE>

<head>
        <link rel="stylesheet" type="html/css" href="/css/styles.css"> 
    
</head>
<body>
    {{>header}}
    <div class="container" id="err404">
        <p>
        <font style="text-align: center; font-size:2em;">{{title}} :</font>
          <br>
    {{msg404}}</p>
    </div>
</body>

</html>