<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}} <!-- this will load the header partial -->

    <p>{{msg}}</p>
    {{>footer}}
</body>

</html>