<!DOCTYPE>

<head>
        <link rel="stylesheet" type="html/css" href="/css/styles.css"> 
    
</head>
<body>
    {{>header}}
    <div id="help" class="container">
            <p>{{msg}}</p>
    </div>

    {{>footer}}
</body>

</html>