<!DOCTYPE>

<head>
        <link rel="stylesheet" href="/css/styles.css"> 
    <title ><i></i>Weather App</title>
</head>
<body>
         {{>header}}
    <div class="container">
   
        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"><img src="../../../web-server/public/img/sun.png"><sup>degC</sup></p>
        {{!-- <p>Created by: {{name}}</p> --}}
    </div>
    <div class="display">
        <div class="boxes" >Rain<p id="box-1"></p></div>
        <div class="boxes" >HUmidit<p id="box-2"></p></div>
        <div class="boxes" >Presuure<p id="box-3"></p></div>
        <div class="boxes" >WindSpeed<p id="box-4"></p></div>
    </div>
    <div class="cls"></div>
    {{>footer}}

<script src="./js/app.js"></script>
</body>
</html>