<!DOCTYPE>

<head>
        <link rel="stylesheet" href="/css/styles.css"> 
    <title ><i></i>Weather App</title>
    {{!-- <script type="text/javascript" src="geolocator.min.js"></script> --}}

</head>
<body>
         {{>header}}
    <div class="container" >
   
        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
            <button id="loc">My Location</button>
        </form>
        
        <p id="msg-1"></p>
        <p id="msg-2"></p>
        <p id="msg-3"></p>
        {{!-- <p>Created by: {{name}}</p> --}}
        <div id="boxOut" class="d-none">
            <div class="boxes" ><font style="color:white; opacity:1; ">Rain</font> <p id="box-1"></p></div>
            <div class="boxes" ><font style="color:white; opacity:1; ">Humidity</font><p id="box-2"></p></div>
            <div class="boxes" ><font style="color:white; opacity:1; ">Pressure</font><p id="box-3"></p></div>
            <div class="boxes" ><font style="color:white; opacity:1; ">WindSpeed</font><p id="box-4"></p></div>
            <div class="boxes" ><font style="color:white; opacity:1; ">Visibility</font><p id="box-5"></p></div>
        </div>
    <div class="cls"></div>
    </div>

    {{>footer}}

<script src="./js/app.js"></script>
</body>
</html>
